Makefile
Makefile.in
configure
*.o
*.pyc
autom4te.cache
config.log
config.status
aclocal.m4
.deps
.dirstamp
*.trs
*.log
tests/test_unit
src/chimp
.vagrant
config/depcomp
config/install-sh
config/missing
